 /* HEADER*/
 .top>.container {
     display: flex;
     align-items: center;

 }

 .container>.top-logo {
     font-family: 'Raleway', sans-serif;
     color: var(--black-color);
     font-weight: 700;
     font-size: 26px;
     line-height: 1.19;
     letter-spacing: 0.03em;
     text-decoration: none;
     margin-right: 93px;
 }

 .logo-color {
     color: var(--accent-color);
     font-family: 'Raleway', sans-serif;
 }

 /* navigation */
 .nav-site {
     display: flex;
 }

 .nav-site .navigation-item:not(:last-child),
 .nav-contacts .contacts-item:not(:last-child) {
     margin-right: 50px;
 }

 .nav-contacts {
     display: flex;
     margin-left: auto;
 }

 .navigation-item>.link,
 .link-contacts {
     display: block;
     padding-top: 32px;
     padding-bottom: 32px;
 }

 .link {
     color: var(--title-color);
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     text-decoration: none;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }

 .link:hover,
 .link:focus {
     color: var(--accent-color);
     cursor: pointer;

 }

 .link-contacts {
     color: var(--text-color);
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .link-contacts:hover,
 .link-contacts:focus {
     color: var(--accent-color);
     cursor: pointer;
 }

 .list {
     list-style: none;
     text-decoration: none;
 }

 .link-contacts {
     display: flex;
     align-items: center;
     gap: 10px;
     color: var(--text-color);
 }

 .contacts-userpic {
     fill: currentColor;
 }



 .nav-site .current {
     color: var(--accent-color)
 }

 .navigation-item {
     position: relative;
 }

 .current::after {
     position: absolute;
     bottom: 0;
     content: '';
     display: block;
     height: 4px;
     width: 100%;
     border-radius: 2px;
     background: var(--accent-color);

 }