 .top>.container {
     display: flex;
     align-items: center;
 }
 .logo-color {
     color: var(--accent-color);
     font-family: 'Raleway', sans-serif;
 }
 /* navigation */
 .nav-site {
     display: flex;
    .current {
        color: var(--accent-color)
        }
    .navigation-item:not(:last-child)
         {
            margin-right: 50px;
        }
 }
 .nav-contacts {
     display: flex;
     margin-left: auto;
    .contacts-item:not(:last-child) {
        margin-right: 50px;
        }
 }
 .navigation-item {
    position: relative;
    &>.link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    }
 }
 .link {
     color: var(--title-color);
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     text-decoration: none;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     &:hover, &:focus {
        color: var(--accent-color);
        cursor: pointer;
     }
          &-contacts {
              display: flex;
              align-items: center;
              gap: 10px;
              color: var(--text-color);
              font-weight: 500;
              font-size: 14px;
              line-height: 1.14;
              letter-spacing: 0.02em;
              transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
              display: block;
              padding-top: 32px;
              padding-bottom: 32px;
    
              &:hover,
              &:focus {
                  color: var(--accent-color);
                  cursor: pointer;
              }
          }
 }
 .contacts-userpic {
     fill: currentColor;
 }
 .current::after {
     position: absolute;
     bottom: 0;
     content: '';
     display: block;
     height: 4px;
     width: 100%;
     border-radius: 2px;
     background: var(--accent-color);

 }